:root {
    --color-claro: #a9bab2;
    --color-oscuro: #303030;
}

::-webkit-scrollbar {
  display: none;
}

html {
    scroll-behavior: smooth;
    line-height: 2rem;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

header {
    height: 10vh;
    background-color: var(--color-claro);
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: var(--color-oscuro);
}

#sfcnkee6z6zlbgkzh6n5tx9trg8wywfmnwe {
    position: absolute;
    right: 10px;
    top: 20px;
}

div {
    box-sizing: border-box;
}

#audio-toggle {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 50%;
  font-size: 25px;
  position: absolute;
  top: 12vh;
  right: 20px;
  background: none;
  z-index: 999;
}


.caja-central {
    margin: 20vh;
    width: 55%;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;

}

.caja-cara {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.caja-cara img {
  position: absolute;
  border-radius: 20px;
  height: 100%;
  transition: opacity 2.8s ease-in-out;
}

img#profile-pic:hover {
  opacity: 0;
}

.caja-presentacion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: var(--color-claro);
    color: #303030;
    padding: 28px 30px 30px 25px;
    line-height: 3.5vh;
}

.seccion-presentacion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  background-color: var(--color-oscuro);
  color: white;
}

.seccion-sobre-mi {
    background-color: var(--color-claro);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
    scroll-snap-align: start;
}

.seccion-aptitudes {
    background-color: var(--color-oscuro);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-claro);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
    scroll-snap-align: start;
}

.seccion-tecnologias {
    background-color: var(--color-claro);
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
    scroll-snap-align: start;
}

.tech-list {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    padding: 10px;
    flex-wrap: wrap;
    width: 90%;
}

.tech {
    height: 6rem;
    margin: 1.5rem;
}

.seccion-cursos-proyectos {
    background-color: var(--color-oscuro);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 50px;
}

.cursos-proyectos {
    width: 75%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.card {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    text-align: center;
    align-items: center;
    width: 30%;
    border: solid var(--color-claro) 1px;
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card a,
footer a {
    color: rgb(255, 254, 254);
}

.red-social {
    height: 3.75rem;
    border-radius: 10px;
    margin: 0 40px;
}

#msje-condicional div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#a-ver {
  margin-left: 1rem;
  height: 2rem;
  width: 4rem;
}

footer {
    background-color: var(--color-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-oscuro);
}

.contacto {
    width: 55%;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    padding: 10px 0 25px 0;
    & a {
      margin: 0 -30px 0 -30px;
    }
}

@media (max-width: 1000px) {
    .container {
        text-align: justify;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .seccion-presentacion {
        height: fit-content;
    }

    .caja-central {
        position: relative;
        width: 100%;
        min-width: 0;
        height: fit-content;
        flex-direction: column;
        margin: auto;
        border-radius: 0;
    }

    .caja-presentacion {
      position: static;
    }
    
    .caja-cara {
        position: relative;
        width: 100%;
        height: 25vh;
        margin-top: 50px;
    }

    .caja-cara img {
        position: absolute;
        border-radius: 200px;
        max-width: 70%;
    }
    /*TENDRE QUE VER COMO HACER PARA QUE AL TOCAR LA IMAGEN EN MOVIL NO ABRA OPCIONES DEL NAVEGADOR, SUPONGO QUE CON JS PREVENT_DEFAULT*/
    .caja-cara img.profile-pic:hover {
      opacity: 100;
    }
    .caja-cara img.profile-pic:active {
      opacity: 0;
    }

    .caja-presentacion {
        width: 100%;
        background-color: var(--color-oscuro);
        color: var(--color-claro);
    }

    .tech-list {
        padding: 0;
        flex-wrap: wrap;
        flex-basis: 30%;
    }

    .tech {
        height: 3.5rem;
    }

    .seccion-sobre-mi {
        height: fit-content;
        padding: 5%;
        position: relative;

    }

    .seccion-aptitudes {
        height: fit-content;
        padding: 5%;
    }

    .seccion-aptitudes li {
        margin-left: -20px;
    }

    .seccion-tecnologias {
        padding: 0;
        margin: 0;
        height: fit-content;
        padding: 10% 0;
    }

    .seccion-cursos-proyectos {
        background-color: var(--color-oscuro);
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        color: #F2F2F2;
        padding-top: 10px;
    }

    .cursos-proyectos {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 5px 20px;
        gap: 20px;
    }

    .card {
        text-align: center;
        width: 100%;
        border: solid #F2F2F2 1px;
        border-radius: 10px;
        padding: 10px;

    }

    #msje-condicional div {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0 1rem 0rem 1rem;
    }

    #a-ver {
      margin-bottom: 1.7rem;
    }

    .contacto a {
      margin: 0;
    }
    footer {
        height: 25vh;
    }

    .red-social {
        margin: 0 10px;
        height: 3rem;
    }

    #contactame {
        margin-top: 30px;
    }
}

/*Orden de las tecnologias*/
.html-5 {
    order: 1;
}

.css-3 {
    order: 2;
}

.javascript {
    order: 3;
}

.c {
    order: 4;
}

.cpp {
    order: 5;
}

.excelpvba {
    order: 6;
}

.animate {
    order: 7;
}

.premiere {
    order: 8;
}

.fireworks {
    order: 9;
}