:root {
  --color-claro: #a9bab2;
  --color-oscuro: #303030;
}

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: grey;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
}
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
html {
  scroll-behavior: smooth;
  line-height: 2rem;
}

header {
  height: 10vh;
  background-color: var(--color-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-oscuro);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-wrap: balance;
  user-select: none;
}

section {
  position: relative;
}

div {
  box-sizing: border-box;
}

#img-toggle {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 50%;
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  z-index: 1;
}

#audio-toggle {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 50%;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  z-index: 1;
}

.fa-arrow-up {
  color: #808080;
  position: absolute;
  top: 80px;
  right: 27px;
}

#seccion-presentacion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  background-color: var(--color-oscuro);
  color: white;
}

#guitar-gif {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 1;
}

#caja-central {
  margin: 20vh;
  min-width: 550px;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.368);
}

#caja-cara {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#caja-cara img {
  position: absolute;
  height: 100%;
  transition: opacity 2.8s ease-in-out;
}

img#profile-pic:hover {
  opacity: 0;
}

#caja-presentacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: var(--color-claro);
  color: #303030;
  padding: 28px 30px 30px 25px;
  line-height: 3.5vh;
  text-align: center;
}

.fa-chevron-down {
  padding: 30px 50px 10px;
  font-size: 1em;
  color: gray;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

#seccion-sobre-mi {
  background-color: var(--color-claro);
  height: 100vh;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #303030;
  padding-left: 20%;
  padding-right: 20%;
}

#seccion-aptitudes {
  background-color: var(--color-claro);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-oscuro);
  text-wrap: balance;
}

#seccion-aptitudes > p:nth-of-type(1) {
  text-align: center;
}

#seccion-tecnologias {
  background-color: var(--color-oscuro);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #303030;
}

#tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tech {
  height: 6rem;
  margin: 1.5rem;
}

#seccion-cursos-proyectos {
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

#cursos-proyectos {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 10fr 1fr);
  margin: auto;
  padding-top: 10px;
}

.card {
  display: grid;
  grid-template-rows: 20% 70% 10%;
  text-align: center;
  align-items: center;
  width: 100%;
  border: solid var(--color-oscuro) 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  gap: 3px;
}

.card img {
  width: 100%;
}

.card h3 {
  margin-bottom: 10px;
}

.card a,
footer a {
  color: var(--color-oscuro);
}

.red-social {
  height: 3.75rem;
  border-radius: 10px;
  margin: 0 40px;
}

#msje-condicional div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#a-ver {
  margin-left: 1rem;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}

footer {
  background-color: var(--color-oscuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: lighter;
  height: 25vh;
  padding-bottom: 30px;
}

#contacto {
  margin-bottom: 30px;
}

#contacto-links {
  width: 55%;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  padding: 10px 0 25px 0;
  & a {
    margin: 0 -30px 0 -30px;
  }
}

@media (max-width: 630px) {
  #seccion-presentacion {
    height: fit-content;
    position: relative;
  }

  #guitar-gif {
    display: none;
  }

  #caja-central {
    width: 100%;
    min-width: 0;
    height: fit-content;
    flex-direction: column;
    margin: auto;
    border-radius: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0); /*para pisar el otro*/
  }

  #caja-cara {
    width: 100%;
    height: 25vh;
    margin-top: 50px;
  }

  #caja-cara img {
    position: absolute;
    border-radius: 200px;
    max-width: 70%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.367);
    z-index: 1;
  }

  #caja-presentacion {
    width: 100%;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    text-align: center;
    padding: 20px 5% 42px;
  }

  #seccion-aptitudes > p:nth-of-type(1) {
    text-align: left;
    text-wrap: wrap;
  }

  #tech-list {
    padding: 0;
    flex-wrap: wrap;
    flex-basis: 30%;
  }

  .tech {
    height: 3.5rem;
  }

  #seccion-sobre-mi {
    height: fit-content;
    padding: 5%;
    position: relative;
  }

  #seccion-aptitudes {
    height: fit-content;
    padding: 5%;
  }

  #seccion-aptitudes li {
    margin-left: -20px;
  }

  #seccion-tecnologias {
    padding: 0;
    margin: 0;
    height: fit-content;
    padding: 10% 0;
  }

  #seccion-cursos-proyectos {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  #cursos-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 0px;
  }

  .card {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  .card:last-child {
    margin-bottom: -15px;
  }

  .card h3 {
    margin-bottom: 10%;
  }

  #msje-condicional div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1rem 0rem 1rem;
  }

  #a-ver {
    margin-bottom: 1.7rem;
  }

  footer {
    height: 25vh;
  }

  #contacto {
    margin-bottom: 40px;
  }

  .red-social {
    height: 3rem;
  }
}
